

// 下划线
@mixin underline {
  border-bottom: 1px dashed #f1f1f1;
}



/* w-h
w:默认100% h:默认100%
----------------------------------------------------------------*/
@mixin w-h($w:100%, $h:100%) {
  width: $w;
  height: $h;
}

// 背景图片
@mixin bg-img($imgurl) {
  background: no-repeat center/100% url($imgurl);
}


/*图片模糊*/
@mixin img-dim {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* chrome, opera */
  -ms-filter: blur(1px);
  -moz-filter: blur(1px);
  transform: scale(1.1);
}

@mixin line-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 2行数
@mixin line-number {
  text-overflow: ellipsis;
  /*有些示例里需要定义该属性，实际可省略*/
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*规定超过两行的部分截断*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

@mixin m-center {
  margin: 0 auto;
}

@mixin line-numbers($num) {
  text-overflow: ellipsis;
  /*有些示例里需要定义该属性，实际可省略*/
  display: -webkit-box;
  -webkit-line-clamp: $num;
  /*规定超过两行的部分截断*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}


// 偏移
@mixin excursion($t, $b, $l, $r) {

  @if $t !=null {
    top: $t;
  }

  @if $b !=null {
    bottom: $b;
  }

  @if $l !=null {
    left: $l;
  }

  @if $r !=null {
    right: $r;
  }

}
/**
 * ----------------------------------------
 * animation fade-in 淡入
 * ----------------------------------------
 */
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* 自定义初始化样式 */
@layer base {

  html {
    @apply antialiased;

  }
  body {}

}


