

// 下划线
@mixin underline {
  border-bottom: 1px dashed #f1f1f1;
}


// 页面初始化
@mixin initialize($w, $h, $mt, $mb, $ml, $mr, $bg) {

  @if $w !=null {
    width: $w;
  }

  @if $h !=null {
    height: $h;
  }

  @if $mt !=null {
    margin-top: $mt;
  }

  @if $mb !=null {
    margin-bottom: $mb;
  }

  @if $ml !=null {
    margin-left: $ml;
  }

  @if $mr !=null {
    margin-right: $mr;
  }

  @if $bg !=null {
    background-color: $bg;
  }

}

/* w-h
w:默认100% h:默认100%
----------------------------------------------------------------*/
@mixin w-h($w:100%, $h:100%) {
  width: $w;
  height: $h;
}

// 背景图片
@mixin bg-img($imgurl) {
  background: no-repeat center/100% url($imgurl);
}


/*图片模糊*/
@mixin img-dim {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* chrome, opera */
  -ms-filter: blur(1px);
  -moz-filter: blur(1px);
  transform: scale(1.1);
}

@mixin line-ome {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 2行数
@mixin line-number {
  text-overflow: ellipsis;
  /*有些示例里需要定义该属性，实际可省略*/
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*规定超过两行的部分截断*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

@mixin m-center {
  margin: 0 auto;
}

@mixin line-numbers($num) {
  text-overflow: ellipsis;
  /*有些示例里需要定义该属性，实际可省略*/
  display: -webkit-box;
  -webkit-line-clamp: $num;
  /*规定超过两行的部分截断*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

@mixin scroll {

  // 滚动条美化
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101f1c, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(#101f1c, 0.5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(#101f1c, 1);
  }
}

// 偏移
@mixin excursion($t, $b, $l, $r) {

  @if $t !=null {
    top: $t;
  }

  @if $b !=null {
    bottom: $b;
  }

  @if $l !=null {
    left: $l;
  }

  @if $r !=null {
    right: $r;
  }

}

/* 自定义初始化样式 */
@layer base {

  html {
    @apply antialiased;

  }
  body {}

}

@screen lg {
  .SnBootom {
    @apply hidden;
  }
}

@screen xp {
  body {
    background-color: #ffffff;
  }
}

@screen md {
  .SnBootom {
    @apply hidden;
  }
}

@screen 2xl {
  .SnBootom {
    @apply hidden;
  }
}

@screen xl {
  .SnBootom {
    @apply hidden;
  }
}