@import "../../assets/sass/com";
@import "../../assets/sass/uitl";

#BlogHome {
  // @apply fixed z-20;
  @apply bg-gray-600;

  @include w-h(100%, 100%);

  .home_main {

    position: absolute;
    width: 90%;
    height: 100%;

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @apply bg-gray-50 shadow-xl rounded-sm;

    .home_main_top {

      .home_introduce {
        @apply text-center p-1;
        @include initialize(50%, 100%, 12%, null, 25%, null, null);

        p {
          @apply mt-3;
        }

        .home_introduce-1 {

          @apply text-7xl;
        }

        .home_introduce-2 {
          @apply text-6xl;
        }

        .home_introduce-3 {
          @apply text-3xl;
        }

        .home_introduce-4 {
          @apply text-4xl;
        }
      }
    }

    .home_enter {
      @apply text-3xl mt-10;

      div {
        width: 20%;
        margin: auto;

        @apply text-center rounded;

      }

    }
  }
}

@screen xp {

  #BlogHome .home_main {
    width: 100%;
  }

  #BlogHome .home_main .home_main_top .home_introduce .home_introduce-1 {
    @apply text-5xl;
  }

  #BlogHome .home_main .home_main_top .home_introduce .home_introduce-2 {
    @apply text-4xl;
  }

  #BlogHome .home_main .home_main_top .home_introduce .home_introduce-3 {
    @apply text-3xl;
  }

  #BlogHome .home_main .home_main_top .home_introduce .home_introduce-4 {
    @apply text-2xl;
  }
}