$boxshow1: 0 2px 1px -2px rgba(0, 0, 0, .2);
$boxshow2: 0 2px 2px 0 rgba(0, 0, 0, .14);
$boxshow3: 0 1px 5px 0 rgba(0, 0, 0, .12);

/* 背景3d边框*/
@mixin boxshow {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 3px;
  -webkit-box-shadow: $boxshow1, $boxshow2, $boxshow3;
  box-shadow: $boxshow1, $boxshow2, $boxshow3;
}

$boxshow11: 0 1px 1px -2px rgba(0, 0, 0, .2);
$boxshow22: 0 1px 2px 0 rgba(0, 0, 0, .14);
$boxshow33: 0 1px 3px 0 rgba(0, 0, 0, .12);

$w:50%;
$ml:25%;

/* 背景3d边框*/
@mixin boxshow1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  -webkit-box-shadow: $boxshow11, $boxshow22, $boxshow33;
  box-shadow: $boxshow11, $boxshow22, $boxshow33;
}

@mixin boxshow2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 1px -2px rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 2px 0 rgba(0, 0, 0, .10);
  box-shadow: 0 1px 1px -2px rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 2px 0 rgba(0, 0, 0, .10);
}

@mixin boxshow3 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}


//波浪线
@mixin waveline($h, $color: #f66) {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: $h;
    background: linear-gradient(135deg, transparent, transparent 45%, $color, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, $color, transparent 55%, transparent 100%);
    background-size: $h * 2 $h * 2;
    content: "";
  }
}

.waveline-text {
  height: 20px;
  line-height: 20px;
  letter-spacing: 10px;
  @include waveline(10px);
}


// 渐变色文字
@mixin gradient-text() {
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;
  color: transparent;
}

// 下划线
@mixin underline {
  border-bottom: 1px dashed #f1f1f1;
}


// 页面初始化
@mixin initialize($w, $h, $mt, $mb, $ml, $mr, $bg) {

  @if $w !=null {
    width: $w;
  }

  @if $h !=null {
    height: $h;
  }

  @if $mt !=null {
    margin-top: $mt;
  }

  @if $mb !=null {
    margin-bottom: $mb;
  }

  @if $ml !=null {
    margin-left: $ml;
  }

  @if $mr !=null {
    margin-right: $mr;
  }

  @if $bg !=null {
    background-color: $bg;
  }

}

// 宽高
@mixin w-h($w, $h) {
  @if $w !=null {
    width: $w;
  }

  @if $h !=null {
    height: $h;
  }
}

// 背景图片
@mixin bg-img($imgurl) {
  background: no-repeat center/100% url($imgurl);
}


/*图片模糊*/
@mixin img-dim {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* chrome, opera */
  -ms-filter: blur(1px);
  -moz-filter: blur(1px);
  transform: scale(1.1);
}

@mixin line-ome {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 2行数
@mixin line-number {
  text-overflow: ellipsis;
  /*有些示例里需要定义该属性，实际可省略*/
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*规定超过两行的部分截断*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

@mixin m-center {
  margin: 0 auto;
}

@mixin line-numbers($num) {
  text-overflow: ellipsis;
  /*有些示例里需要定义该属性，实际可省略*/
  display: -webkit-box;
  -webkit-line-clamp: $num;
  /*规定超过两行的部分截断*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

@mixin scroll {

  // 滚动条美化
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101f1c, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(#101f1c, 0.5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(#101f1c, 1);
  }
}

// 偏移
@mixin excursion($t, $b, $l, $r) {

  @if $t !=null {
    top: $t;
  }

  @if $b !=null {
    bottom: $b;
  }

  @if $l !=null {
    left: $l;
  }

  @if $r !=null {
    right: $r;
  }

}

@mixin blogs {
  @apply p-3;
  @apply antialiased rounded-sm bg-white;

  h1 {
    @apply text-2xl p-1 font-semibold text-gray-700 bg-white;
  }

  h2 {
    @apply text-xl p-1 font-semibold text-gray-700 bg-white;
  }

  h3 {
    @apply text-lg p-1 font-semibold bg-white;
  }

  h4 {
    @apply text-base p-1 font-semibold bg-white;
  }

  h5 {
    @apply text-sm p-1 font-semibold bg-white;
  }

  pre {
    width: 100%;
    @apply text-sm px-1 py-2 bg-gray-100 leading-6;

  }

  code {
    @apply text-gray-700 px-1;

    .hljs-keyword {
      color: #6161b3;
    }

    //方法
    .hljs-title {
      color: #a31515;
    }

    .hljs-string {
      @apply text-red-700;
    }

    // 注释
    .hljs-comment {
      @apply text-gray-400;
    }

    .hljs-params {
      color: #0000ff;
    }
  }

  blockquote {
    p {
      @apply bg-gray-50 mt-1 rounded-sm text-base text-current shadow-sm pl-2;
    }
  }

  p {
    @apply p-1 bg-white text-gray-800 leading-relaxed;

    code {
      @apply bg-gray-50 px-1 text-red-800;
    }

    .hljs {
      @apply bg-gray-50 rounded-sm;
    }
  }

  ul {
    @apply p-1;

    li {
      @apply p-1;

      code {
        color: #2008fa;
      }

      @apply text-xs bg-white text-gray-500;
    }
  }

  table {
    // background: gray;
  }

  th {
    border: solid #f1f1f1 1px;
    @apply p-1 text-sm;
  }

  td {
    border: solid #f1f1f1 1px;
    @apply p-1 text-sm;
  }

  a {
    @apply p-1 text-red-800;
  }


  /*对 markdown 样式的补充*/


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    /* margin-bottom: 1em; */
  }

  strong {
    font-weight: bold;
  }

  p>code:not([class]) {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }

  p img {
    /* 图片居中 */
    margin: 0 auto;
    display: flex;
  }

  #content .desc h1,
  #content .desc h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }

  #content .desc a {
    color: #009a61;
  }

}